<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.ebu.peachidentityprovider" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <application>
        <activity
            android:name=".IdentityActivity"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="identity"
                    android:scheme="@string/identity_application_scheme_url" />
            </intent-filter>
        </activity>

        <service android:name="ch.ebu.peachidentityprovider.IdentityService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/identity_authenticator" />
        </service>
    </application>
</manifest>
